@font-face {
    font-family: 'Estedad';
    src: url('/fonts/estedad/Estedad-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+200C, U+200D, U+061F, U+0621-063A, U+0641-064A, U+0660-0669, U+067E, U+0686, U+0698, U+06A9, U+06AF, U+06CC;
}

@font-face {
    font-family: 'Estedad';
    src: url('/fonts/estedad/Estedad-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+200C, U+200D, U+061F, U+0621-063A, U+0641-064A, U+0660-0669, U+067E, U+0686, U+0698, U+06A9, U+06AF, U+06CC;
}

@font-face {
    font-family: 'Estedad';
    src: url('/fonts/estedad/Estedad-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+200C, U+200D, U+061F, U+0621-063A, U+0641-064A, U+0660-0669, U+067E, U+0686, U+0698, U+06A9, U+06AF, U+06CC;
}

@font-face {
    font-family: 'Estedad';
    src: url('/fonts/estedad/Estedad-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+200C, U+200D, U+061F, U+0621-063A, U+0641-064A, U+0660-0669, U+067E, U+0686, U+0698, U+06A9, U+06AF, U+06CC;
}

@font-face {
    font-family: 'Estedad';
    src: url('/fonts/estedad/Estedad-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+200C, U+200D, U+061F, U+0621-063A, U+0641-064A, U+0660-0669, U+067E, U+0686, U+0698, U+06A9, U+06AF, U+06CC;
}

@font-face {
    font-family: 'Estedad';
    src: url('/fonts/estedad/Estedad-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+200C, U+200D, U+061F, U+0621-063A, U+0641-064A, U+0660-0669, U+067E, U+0686, U+0698, U+06A9, U+06AF, U+06CC;
}

@font-face {
    font-family: 'Estedad';
    src: url('/fonts/estedad/Estedad-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+200C, U+200D, U+061F, U+0621-063A, U+0641-064A, U+0660-0669, U+067E, U+0686, U+0698, U+06A9, U+06AF, U+06CC;
}

@font-face {
    font-family: 'Estedad';
    src: url('/fonts/estedad/Estedad-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+200C, U+200D, U+061F, U+0621-063A, U+0641-064A, U+0660-0669, U+067E, U+0686, U+0698, U+06A9, U+06AF, U+06CC;
}

@font-face {
    font-family: 'Estedad';
    src: url('/fonts/estedad/Estedad-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+200C, U+200D, U+061F, U+0621-063A, U+0641-064A, U+0660-0669, U+067E, U+0686, U+0698, U+06A9, U+06AF, U+06CC;
}